---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/assets?select=sys&sys.id=nyancat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"87f134c2b4adb7ec01f63ac1d3b15dd8"'
      X-Contentful-Request-Id:
      - d64c3a9dd291011cd26ee2f99f2aa0d9
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "id": "nyancat",
                "type": "Asset",
                "createdAt": "2013-09-02T14:56:34.240Z",
                "updatedAt": "2013-09-02T14:56:34.240Z",
                "revision": 1,
                "locale": "en-US"
              }
            }
          ]
        }
  recorded_at: Tue, 11 Oct 2016 21:52:06 GMT
recorded_with: VCR 3.0.3
