---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/assets?select=fields,sys&sys.id=nyancat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"0cab5fc96bce67132a639cad150f071d"'
      X-Contentful-Request-Id:
      - f55b5b2f93cef644633d281119afb30a
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "title": "Nyan Cat",
                "file": {
                  "url": "//images.contentful.com/cfexampleapi/4gp6taAwW4CmSgumq2ekUm/9da0cd1936871b8d72343e895a00d611/Nyan_cat_250px_frame.png",
                  "details": {
                    "size": 12273,
                    "image": {
                      "width": 250,
                      "height": 250
                    }
                  },
                  "fileName": "Nyan_cat_250px_frame.png",
                  "contentType": "image/png"
                }
              },
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "id": "nyancat",
                "type": "Asset",
                "createdAt": "2013-09-02T14:56:34.240Z",
                "updatedAt": "2013-09-02T14:56:34.240Z",
                "revision": 1,
                "locale": "en-US"
              }
            }
          ]
        }
  recorded_at: Tue, 11 Oct 2016 21:52:05 GMT
recorded_with: VCR 3.0.3
