---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/environments/master/assets/3v0s5QAHjGFqCS5aBfd1dX
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.17.2; platform ruby/3.3.6; os macOS/24;
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Route:
      - "/spaces/:space/environments/:environment/assets/:id"
      Etag:
      - '"1319372289739574934"'
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - cda
      X-Contentful-Request-Id:
      - c639e93e-7f66-4ce1-9a6c-e22b17fc1c71
    body:
      encoding: ASCII-8BIT
      string: '{"metadata":{"tags":[],"concepts":[{"sys":{"type":"Link","linkType":"TaxonomyConcept","id":"5iRG7dAusVFUOh9SrexDqQ"}}]},"sys":{"space":{"sys":{"type":"Link","linkType":"Space","id":"cfexampleapi"}},"id":"3v0s5QAHjGFqCS5aBfd1dX","type":"Asset","createdAt":"2025-07-10T07:15:47.953Z","updatedAt":"2025-07-10T07:15:47.953Z","environment":{"sys":{"id":"master","type":"Link","linkType":"Environment"}},"publishedVersion":5,"revision":1,"locale":"en-US"},"fields":{"title":"Funny
        Cat","file":{"url":"https://images.secure.ctfassets.net/cfexampleapi/3v0s5QAHjGFqCS5aBfd1dX/744932c743a5de15182df16417ddcb13/images.jpeg","details":{"size":6561,"image":{"width":225,"height":225}},"fileName":"images.jpeg","contentType":"image/jpeg"}}}

        '
  recorded_at: Thu, 10 Jul 2025 07:16:03 GMT
recorded_with: VCR 6.3.1
