---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/content_types?limit=2&skip=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - "\"2746811e75b9a95dce07c642289df92a\""
      X-Contentful-Request-Id:
      - 85f-649640517
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 4,
          "skip": 5,
          "limit": 2,
          "items": []
        }
  recorded_at: Wed, 16 Apr 2014 09:00:20 GMT
recorded_with: VCR 2.9.0
