---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/content_types?limit=2&skip=3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - "\"098a04921c0747087815e148a98bcacf\""
      X-Contentful-Request-Id:
      - f1c-737716791
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 4,
          "skip": 3,
          "limit": 2,
          "items": [
            {
              "fields": [
                {
                  "name": "Name",
                  "id": "name",
                  "type": "Text",
                  "required": true
                },
                {
                  "name": "Center",
                  "id": "center",
                  "type": "Location",
                  "required": true
                }
              ],
              "name": "City",
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "type": "ContentType",
                "id": "1t9IbcfdCk6m04uISSsaIK",
                "revision": 1,
                "createdAt": "2014-02-21T13:42:33.009Z",
                "updatedAt": "2014-02-21T13:42:33.009Z"
              },
              "displayField": "name"
            }
          ]
        }
  recorded_at: Wed, 16 Apr 2014 09:00:19 GMT
recorded_with: VCR 2.9.0
