---
http_interactions:
- request:
    method: get
    uri: http://cms.cafewell.com:1337/spaces/cfexampleapi/content_types?limit=2&skip=5
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"b4863e75aa0bfebf8f69b7cf5b1f9abf"'
      X-Contentful-Request-Id:
      - f1c-667376689
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 5,
          "skip": 5,
          "limit": 2,
          "items": []
        }
  recorded_at: Tue, 13 Jan 2015 21:55:02 GMT
recorded_with: VCR 2.9.3
