---
http_interactions:
- request:
    method: get
    uri: http://cms.cafewell.com:1337/spaces/cfexampleapi/content_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"23331bafbfbf0bb27b38db0169e922a7"'
      X-Contentful-Request-Id:
      - 85f-1352020312
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 5,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": [
                {
                  "name": "Name",
                  "id": "name",
                  "type": "Text",
                  "required": true
                },
                {
                  "name": "Center",
                  "id": "center",
                  "type": "Location",
                  "required": true
                }
              ],
              "name": "City",
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "type": "ContentType",
                "id": "1t9IbcfdCk6m04uISSsaIK",
                "revision": 1,
                "createdAt": "2014-02-21T13:42:33.009Z",
                "updatedAt": "2014-02-21T13:42:33.009Z"
              },
              "displayField": "name"
            },
            {
              "fields": [
                {
                  "id": "name",
                  "name": "Name",
                  "type": "Text",
                  "required": true,
                  "localized": false
                }
              ],
              "name": "Cat",
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "type": "ContentType",
                "id": "63k4qdEi9aI8IQUGaYGg4O",
                "revision": 1,
                "createdAt": "2013-06-23T19:06:29.976Z",
                "updatedAt": "2013-06-23T19:06:29.976Z"
              },
              "description": "Meow!",
              "displayField": "name"
            },
            {
              "fields": [
                {
                  "id": "name",
                  "name": "Name",
                  "type": "Text",
                  "required": true,
                  "localized": false
                },
                {
                  "id": "description",
                  "name": "Description",
                  "type": "Text",
                  "required": false,
                  "[...]
