---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/assets/nyancat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - "\"7a92346b83c581d30e36cad903578c5a\""
      X-Contentful-Request-Id:
      - f1c-737716588
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "title": "Nyan Cat",
            "file": {
              "fileName": "Nyan_cat_250px_frame.png",
              "contentType": "image/png",
              "details": {
                "image": {
                  "width": 250,
                  "height": 250
                },
                "size": 12273
              },
              "url": "//images.contentful.com/cfexampleapi/4gp6taAwW4CmSgumq2ekUm/9da0cd1936871b8d72343e895a00d611/Nyan_cat_250px_frame.png"
            }
          },
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "cfexampleapi"
              }
            },
            "type": "Asset",
            "id": "nyancat",
            "revision": 1,
            "createdAt": "2013-09-02T14:56:34.240Z",
            "updatedAt": "2013-09-02T14:56:34.240Z",
            "locale": "en-US"
          }
        }
  recorded_at: Wed, 16 Apr 2014 09:00:21 GMT
recorded_with: VCR 2.9.0
