---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/entries?some=parameter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "InvalidQuery"
          },
          "message": "The query you sent was invalid. Probably a filter or ordering specification is not applicable to the type of a field.",
          "details": {
            "errors": [
              {
                "name": "unknown",
                "path": [
                  "some"
                ]
              }
            ]
          },
          "requestId": "85f-830893118"
        }
  recorded_at: Sat, 08 Mar 2014 17:32:47 GMT
recorded_with: VCR 2.8.0
