---
http_interactions:
- request:
    method: get
    uri: http://cms.cafewell.com:1337/spaces/cfexampleapi/entries?some=parameter
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "InvalidQuery"
          },
          "message": "The query you sent was invalid. Probably a filter or ordering specification is not applicable to the type of a field.",
          "details": {
            "errors": [
              {
                "name": "unknown",
                "path": [
                  "some"
                ],
                "details": "The path \"some\" is not recognized"
              }
            ]
          },
          "requestId": "71a-1123383949"
        }
  recorded_at: Tue, 13 Jan 2015 22:14:16 GMT
recorded_with: VCR 2.9.3
