---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - "\"4fd389dc6eb0344fa98184c811f12f8d\""
      X-Contentful-Request-Id:
      - 85f-649640028
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 10,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "name": "Garfield",
                "likes": [
                  "lasagna"
                ],
                "color": "orange",
                "lifes": null,
                "lives": 9,
                "birthday": "1979-06-18T23:00:00+00:00"
              },
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "type": "Entry",
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "cat"
                  }
                },
                "id": "garfield",
                "revision": 2,
                "createdAt": "2013-06-27T22:46:20.821Z",
                "updatedAt": "2013-08-27T10:09:07.929Z",
                "locale": "en-US"
              }
            },
            {
              "fields": {
                "name": "Nyan Cat",
                "likes": [
                  "rainbows",
                  "fish"
                ],
                "color": "rainbow",
                "bestFriend": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Entry",
                    "id": "happycat"
                  }
                },
                "birthday": "2011-04-04T22:00:00+00:00",
                "lives": 1337,
                "image": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Asset",
                    "id": "nyancat"
                  }
                }
              },
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "type": "Entry",
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "cat"
                  }
                },
                "id": "nyancat",
                "revision": 5,
                "createdAt": "2013-06-27T22:46:19.513Z",
                "updatedAt": "2013-09-04T09:19:39.027Z",
                "locale": "en-US"
              }
            },
            {
              "fields": {
                "name": "Finn",
                "description": "Fearless adventurer! Defender of pancakes.",
                "likes": [
                  "adventure"
                ]
              },
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "type": "Entry",
                "contentType": {
                  "sys": {
                    "type": "Link"[...]
