---
http_interactions:
- request:
    method: get
    uri: http://cms.cafewell.com:1337/spaces/cfexampleapi/entries
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"474a1d8a1e34ebf8e98f420724e24f17"'
      X-Contentful-Request-Id:
      - 71a-1123375094
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 11,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "type": "Entry",
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "dog"
                  }
                },
                "id": "6KntaYXaHSyIw8M6eo26OK",
                "revision": 2,
                "createdAt": "2013-11-06T09:45:27.475Z",
                "updatedAt": "2013-11-18T09:13:37.808Z",
                "locale": "en-US"
              },
              "fields": {
                "name": "Doge",
                "image": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Asset",
                    "id": "1x0xpXu4pSGS4OukSyWGUK"
                  }
                },
                "description": "such json\nwow"
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "type": "Entry",
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "1t9IbcfdCk6m04uISSsaIK"
                  }
                },
                "id": "4MU1s3potiUEM2G4okYOqw",
                "revision": 1,
                "createdAt": "2014-02-21T13:42:45.926Z",
                "updatedAt": "2014-02-21T13:42:45.926Z",
                "locale": "en-US"
              },
              "fields": {
                "name": "Berlin",
                "center": {
                  "lat": 52.52000659999999,
                  "lon": 13.404953999999975
                }
              }
            },
            {
              "fields": {
                "name": "Happy Cat",
                "bestFriend": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Entry",
                    "id": "nyancat"
                  }
                },
                "likes": [
                  "cheezburger"
                ],
                "color": "gray",
                "birthday": "2003-10-28T23:00:00+00:00",
                "lives": 1,
                "image": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Asset",
                    "id": "happycat"
                  }
                }
              },
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "type": "Entry",
      [...]
