---
http_interactions:
- request:
    method: get
    uri: http://cms.cafewell.com:1337/spaces/cfexampleapi/entries/finn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"fcdc41e711c72e3cbc389211fde21287"'
      X-Contentful-Request-Id:
      - f1c-667376724
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": "Finn",
            "description": "Fearless adventurer! Defender of pancakes.",
            "likes": [
              "adventure"
            ]
          },
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "cfexampleapi"
              }
            },
            "type": "Entry",
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "human"
              }
            },
            "id": "finn",
            "revision": 6,
            "createdAt": "2013-06-27T22:46:21.450Z",
            "updatedAt": "2013-09-09T16:15:01.297Z",
            "locale": "en-US"
          }
        }
  recorded_at: Tue, 13 Jan 2015 21:55:06 GMT
recorded_with: VCR 2.9.3
