---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/entries?sys.id=finn
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"87d918d318e916d11257e79fbe2170f1"'
      X-Contentful-Request-Id:
      - d779ead4b7a06d2c0546fbb934628db0
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "id": "finn",
                "type": "Entry",
                "createdAt": "2013-06-27T22:46:21.450Z",
                "updatedAt": "2013-09-09T16:15:01.297Z",
                "revision": 6,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "human"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "name": "Finn",
                "description": "Fearless adventurer! Defender of pancakes.",
                "likes": [
                  "adventure"
                ]
              }
            }
          ]
        }
  recorded_at: Tue, 20 Dec 2016 15:25:24 GMT
recorded_with: VCR 3.0.3
