---
http_interactions:
- request:
    method: get
    uri: http://cms.cafewell.com:1337/spaces/cfexampleapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"14a17843cf0cf8b116801f96c1c6fe23"'
      X-Contentful-Request-Id:
      - f1c-667287411
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Space",
            "id": "cfexampleapi"
          },
          "name": "Contentful Example API",
          "locales": [
            {
              "code": "en-US",
              "default": true,
              "name": "English"
            },
            {
              "code": "tlh",
              "default": false,
              "name": "Klingon"
            }
          ]
        }
  recorded_at: Tue, 13 Jan 2015 21:55:09 GMT
recorded_with: VCR 2.9.3
