---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Request-Id:
      - 85f-830831773
      Etag:
      - "\"23e4b3361b063c545fdd9f7f4f97d825\""
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Space",
            "id": "cfexampleapi"
          },
          "name": "Contentful Example API",
          "locales": [
            {
              "code": "en-US",
              "name": "English"
            },
            {
              "code": "tlh",
              "name": "Klingon"
            }
          ]
        }
  recorded_at: Wed, 05 Mar 2014 21:15:56 GMT
recorded_with: VCR 2.8.0
