---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/lzjz8hygvfgu/content_types?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 0c6ef483524b5e46b3bafda1bf355f38f5f40b4830f7599f790a410860c7c271
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - "\"417841a5a8a9f6ffd1d2464705a04f82\""
      X-Contentful-Request-Id:
      - f1c-737716796
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 2,
          "skip": 0,
          "limit": 1000,
          "items": [
            {
              "fields": [
                {
                  "id": "name",
                  "name": "Name",
                  "type": "Symbol",
                  "required": true,
                  "localized": false
                },
                {
                  "id": "description",
                  "name": "Description",
                  "type": "Text",
                  "required": true,
                  "localized": false
                }
              ],
              "name": "Alien species",
              "displayField": "name",
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "lzjz8hygvfgu"
                  }
                },
                "type": "ContentType",
                "id": "110tmd3lykUqww2WYOQOYy",
                "revision": 1,
                "createdAt": "2013-06-20T14:49:44.002Z",
                "updatedAt": "2013-06-20T14:49:44.002Z"
              }
            },
            {
              "fields": [
                {
                  "id": "locationName",
                  "name": "Location name",
                  "type": "Text",
                  "required": true,
                  "localized": false
                },
                {
                  "id": "species",
                  "name": "Species",
                  "type": "Link",
                  "required": true,
                  "localized": false,
                  "disabled": false,
                  "linkType": "Entry"
                },
                {
                  "id": "location",
                  "name": "location",
                  "type": "Location",
                  "required": true,
                  "localized": false
                },
                {
                  "id": "description",
                  "name": "Description",
                  "type": "Text",
                  "required": true,
                  "localized": false
        [...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/lzjz8hygvfgu/entries/3f6fq5ylFCi4kIYAQKsAYG
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 0c6ef483524b5e46b3bafda1bf355f38f5f40b4830f7599f790a410860c7c271
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - "\"b40b427efac4e47710aa8124ef667f1b\""
      X-Contentful-Request-Id:
      - 85f-649640034
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "description": "Caller had left a message at 1355 hrs. on 18JA96. The caller reported that she and her husband had witnessed two beams of light to the northeast of their home that appeared to go straight up into the sky, perfectly parallel to one another.  They appeared to originate from behind a hill to the northeast of their home, and the beams were definitely separated from each other. They were looking toward Beaver Lake.  the University at Springdale is to the north. They called the local newspapers and the local airport(s).",
            "locationName": "Fayetteville, AR",
            "sightedAt": "1996-01-17T23:00:00Z",
            "reportedAt": "1996-01-17T23:00:00Z",
            "city": "Fayetteville",
            "state": "Arkansas",
            "country": "United States",
            "location": {
              "lat": 36.0625795,
              "lon": -94.1574263
            },
            "species": {
              "sys": {
                "type": "Link",
                "linkType": "Entry",
                "id": "5iBjcBn6eWskwS0GAOAsCA"
              }
            }
          },
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "lzjz8hygvfgu"
              }
            },
            "type": "Entry",
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "7ocuA1dfoccWqWwWUY4UY"
              }
            },
            "id": "3f6fq5ylFCi4kIYAQKsAYG",
            "revision": 1,
            "createdAt": "2013-06-27T14:38:44.504Z",
            "updatedAt": "2013-06-27T14:38:44.504Z",
            "locale": "en-US"
          }
        }
  recorded_at: Wed, 16 Apr 2014 09:00:26 GMT
recorded_with: VCR 2.9.0
