---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/facgnwwgj5fe/environments/testing/locales
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.4.0; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"933cd424e0bbb10faa1c119a7c478a36"'
      X-Contentful-Request-Id:
      - b203a8e779b889882f508d217513881c
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 3,
          "skip": 0,
          "limit": 1000,
          "items": [
            {
              "code": "en-US",
              "name": "U.S. English",
              "default": true,
              "fallbackCode": null,
              "sys": {
                "id": "1NkEdf220AtNFVgJO9fFQ2",
                "type": "Locale",
                "version": 1
              }
            },
            {
              "code": "foo",
              "name": "foobar",
              "default": false,
              "fallbackCode": null,
              "sys": {
                "id": "2QKRtwD3DKOkYKXJJsYdHk",
                "type": "Locale",
                "version": 1
              }
            },
            {
              "code": "foo-BB",
              "name": "Foo (BarBaz)",
              "default": false,
              "fallbackCode": "en-US",
              "sys": {
                "id": "4YnLeSNLymCAZ6eYwJmhzu",
                "type": "Locale",
                "version": 1
              }
            }
          ]
        }
  recorded_at: Tue, 27 Feb 2018 10:39:00 GMT
recorded_with: VCR 3.0.3
