---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/entries/not%20found
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "NotFound"
          },
          "details": {
            "type": "Entry",
            "space": "cfexampleapi",
            "id": "not found"
          },
          "message": "The resource could not be found.",
          "requestId": "85f-351076632"
        }
  recorded_at: Sat, 01 Mar 2014 23:57:59 GMT
recorded_with: VCR 2.8.0
