---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/entries/not%20found
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "NotFound"
          },
          "details": {
            "type": "Entry",
            "space": "cfexampleapi",
            "id": "not found"
          },
          "message": "The resource could not be found.",
          "requestId": "71a-635716683"
        }
  recorded_at: Wed, 16 Apr 2014 09:00:22 GMT
recorded_with: VCR 2.9.0
