---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/content_types/not%20found
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Request-Id:
      - 77047700ec63ba7bdf3b4f3b66770004
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "NotFound"
          },
          "message": "Invalid resource id",
          "requestId": "77047700ec63ba7bdf3b4f3b66770004"
        }
  recorded_at: Tue, 20 Dec 2016 15:32:24 GMT
recorded_with: VCR 3.0.3
