---
http_interactions:
- request:
    method: get
    uri: http://cms.cafewell.com:1337/spaces/cfexampleapi/entries/notfound
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "NotFound"
          },
          "message": "The resource could not be found.",
          "details": {
            "type": "Entry",
            "id": "notfound",
            "space": "cfexampleapi"
          },
          "requestId": "f1c-667383327"
        }
  recorded_at: Tue, 13 Jan 2015 22:08:40 GMT
recorded_with: VCR 2.9.3
