---
http_interactions:
- request:
    method: get
    uri: https://cdnorigin.flinkly.com/spaces/164vhtp008kz/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 7699b6c6f6cee9b6abaa216c71fbcb3eee56cb6f082f57b5e21b2b50f86bdea0
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      X-Contentful-Ratelimit-Reset:
      - '1'
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "RateLimitExceeded"
          },
          "message": "You have exceeded the rate limit of the Organization this Space belongs to by making too many API requests within a short timespan. Please wait a moment before trying the request again.",
          "requestId": "395-766168967"
        }
  recorded_at: Tue, 09 Aug 2016 08:46:00 GMT
- request:
    method: get
    uri: https://cdnorigin.flinkly.com/spaces/164vhtp008kz/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 7699b6c6f6cee9b6abaa216c71fbcb3eee56cb6f082f57b5e21b2b50f86bdea0
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"29f2c21be26360c424f617d8592cf6f9"'
      Surrogate-Control:
      - max-age=21600
      Surrogate-Key:
      - space-164vhtp008kz organization-7Kp22ygMRaA3DCjACF64PF
      X-Contentful-Request-Id:
      - 395-766168968
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 0,
          "skip": 0,
          "limit": 100,
          "items": []
        }
  recorded_at: Tue, 09 Aug 2016 08:46:00 GMT
[...]
- request:
    method: get
    uri: https://cdnorigin.flinkly.com/spaces/164vhtp008kz/assets
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 7699b6c6f6cee9b6abaa216c71fbcb3eee56cb6f082f57b5e21b2b50f86bdea0
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"29f2c21be26360c424f617d8592cf6f9"'
      Surrogate-Control:
      - max-age=21600
      Surrogate-Key:
      - space-164vhtp008kz organization-7Kp22ygMRaA3DCjACF64PF
      X-Contentful-Request-Id:
      - 395-766168970
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 0,
          "skip": 0,
          "limit": 100,
          "items": []
        }
  recorded_at: Tue, 09 Aug 2016 08:46:02 GMT
recorded_with: VCR 3.0.3
