---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/wrong/entries?sys.id=nyancat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer credentials
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 429
      message: ServiceUnavailable
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "RateLimitExceeded"
          },
          "message": "Ratelimit Exceeded",
          "requestId": "85f-649640521"
        }
  recorded_at: Wed, 16 Apr 2014 09:00:24 GMT
recorded_with: VCR 2.9.0
