---
http_interactions:
- request:
    method: get
    uri: http://cms.cafewell.com:1337/spaces/cfexampleapi/sync?initial=true&type=DeletedAsset
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"a542ad3561e1885e006ca3c4b6ec2317"'
      X-Contentful-Request-Id:
      - f1c-667330463
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "items": [
            {
              "sys": {
                "type": "DeletedAsset",
                "id": "5c6VY0gWg0gwaIeYkUUiqG",
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "revision": 1,
                "createdAt": "2013-09-09T16:17:12.600Z",
                "updatedAt": "2013-09-09T16:17:12.600Z",
                "deletedAt": "2013-09-09T16:17:12.600Z"
              }
            },
            {
              "sys": {
                "type": "DeletedAsset",
                "id": "finn",
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "revision": 1,
                "createdAt": "2013-09-02T15:10:33.749Z",
                "updatedAt": "2013-[...]
