---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/sync?initial=true&type=Deletion
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"25cc3a29b1aa5b99d6d0f385ea9d2180"'
      X-Contentful-Request-Id:
      - 71a-635737281
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "items": [
            {
              "sys": {
                "type": "DeletedAsset",
                "id": "5c6VY0gWg0gwaIeYkUUiqG",
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "revision": 1,
                "createdAt": "2013-09-09T16:17:12.596Z",
                "updatedAt": "2013-09-09T16:17:12.596Z",
                "deletedAt": "2013-09-09T16:17:12.596Z"
              }
            },
            {
              "sys": {
                "type": "DeletedAsset",
                "id": "finn",
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "revision": 1,
                "createdAt": "2013-09-02T15:10:33.746Z",
                "updatedAt": "2013-[...]
