---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/sync?initial=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"382e4781b902b58d2edf3f10067167c7"'
      X-Contentful-Request-Id:
      - f1c-737770542
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "type": "Entry",
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "1t9IbcfdCk6m04uISSsaIK"
                  }
                },
                "id": "5ETMRzkl9KM4omyMwKAOki",
                "revision": 2,
                "createdAt": "2014-02-21T13:42:57.752Z",
                "updatedAt": "2014-04-16T12:44:02.691Z"
              },
              "fields": {
                "name": {
                  "en-US": "London"
                },
                "center": {
                  "en-US": {
                    "lat": 51.508515,
                    "lon": -0.12548719999995228
                  }
                }
              }
            }
          ],
          "nextSyncUrl": "https://cdn.contentful.com/spaces/cfexampleapi/sync?sync_token=w5ZGw6JFwqZmVcKsE8Kow4grw45QdybCr8Okw6AYwqbDksO3ehvDpUPCgcKsKXbCiAwPC8K2w4LDvsOkw6nCjhPDpcOQADElWsOoU8KGR3HCtsOAwqd6wp_Dulp8w6LDsF_CtsK7Kk05wrMvwrLClMOgG2_Dn2sGPg"
        }
  recorded_at: Fri, 25 Apr 2014 13:31:18 GMT
recorded_with: VCR 2.9.0
