---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/sync?initial=true
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"8cc03113b9eb6da94926dd27dda2f601"'
      X-Contentful-Request-Id:
      - 85f-649737436
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "type": "Entry",
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "1t9IbcfdCk6m04uISSsaIK"
                  }
                },
                "id": "5ETMRzkl9KM4omyMwKAOki",
                "revision": 2,
                "createdAt": "2014-02-21T13:42:57.752Z",
                "updatedAt": "2014-04-16T12:44:02.691Z"
              },
              "fields": {
                "name": {
                  "en-US": "London"
                },
                "center": {
                  "en-US": {
                    "lat": 51.508515,
                    "lon": -0.12548719999995228
                  }
                }
              }
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "type": "Entry",
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": [...]
