---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/sync?initial=true&type=DeletedEntry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"607d9bfac89f4ae4dadf0bb320de2058"'
      X-Contentful-Request-Id:
      - 85f-650106849
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "items": [
            {
              "sys": {
                "type": "DeletedEntry",
                "id": "CVebBDcQsSsu6yKKIayy",
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "revision": 1,
                "createdAt": "2013-06-23T19:21:38.254Z",
                "updatedAt": "2013-06-23T19:21:38.254Z",
                "deletedAt": "2013-06-23T19:21:38.254Z"
              }
            }
          ],
          "nextSyncUrl": "https://cdn.contentful.com/spaces/cfexampleapi/sync?sync_token=wonDrcKnRgcSOF4-wrDCgcKefWzCgsOxwpIjw6fCr8OKUUphKXnCrE1xw7EXSgzDhcKIXMKfw4XDnAZGw5E7wqAkw6sIwpg"
        }
  recorded_at: Mon, 28 Apr 2014 20:05:35 GMT
recorded_with: VCR 2.9.0
