---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/environments/master/taxonomy/concepts/5iRG7dAusVFUOh9SrexDqQ
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.17.2; platform ruby/3.3.6; os macOS/24;
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Contentful-Route:
      - "/spaces/:spaceId/environments/:environmentId/taxonomy/concepts/:id"
      Etag:
      - '"11690297105486031022"'
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - cda
      X-Contentful-Request-Id:
      - 4c7b4e4f-05f5-4b1a-8b1e-363b97173c95
    body:
      encoding: UTF-8
      string: '{"sys":{"id":"5iRG7dAusVFUOh9SrexDqQ","type":"TaxonomyConcept","createdAt":"2025-03-21T05:54:15.434Z","updatedAt":"2025-06-23T05:36:52.962Z","version":2},"uri":"https://example/testconcept","notations":["SLR001"],"conceptSchemes":[{"sys":{"id":"4EQT881T6sG9XpzNwb9y9R","type":"Link","linkType":"TaxonomyConceptScheme"}}],"broader":[],"related":[],"prefLabel":{"en-US":"TestConcept"},"altLabels":{"en-US":["Couches"]},"hiddenLabels":{"en-US":["Sopha"]},"note":{"en-US":"Excepteur
        sint occaecat cupidatat non proident"},"changeNote":null,"definition":null,"editorialNote":{"en-US":"labore
        et dolore magna aliqua"},"example":{"en-US":"Lorem ipsum dolor sit amet"},"historyNote":{"en-US":"sed
        do eiusmod tempor incididunt"},"scopeNote":{"en-US":"consectetur adipiscing
        elit"}}'
  recorded_at: Mon, 23 Jun 2025 05:37:37 GMT
recorded_with: VCR 6.3.1
