---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/environments/master/taxonomy/concepts?limit=5&order=sys.createdAt
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.17.2; platform ruby/3.3.6; os macOS/24;
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Contentful-Route:
      - "/spaces/:spaceId/environments/:environmentId/taxonomy/concepts"
      Etag:
      - '"6169199187216486323"'
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - cda
      X-Contentful-Request-Id:
      - c1347803-e04e-4ce8-8d51-1f5e1435db38
    body:
      encoding: UTF-8
      string: '{"sys":{"type":"Array"},"limit":5,"items":[{"sys":{"id":"5iRG7dAusVFUOh9SrexDqQ","type":"TaxonomyConcept","createdAt":"2025-03-21T05:54:15.434Z","updatedAt":"2025-06-23T06:05:25.107Z","version":4},"uri":"https://example/testconcept","notations":["SLR001"],"conceptSchemes":[{"sys":{"id":"4EQT881T6sG9XpzNwb9y9R","type":"Link","linkType":"TaxonomyConceptScheme"}}],"broader":[],"related":[],"prefLabel":{"en-US":"TestConcept"},"altLabels":{"en-US":["Couches"]},"hiddenLabels":{"en-US":["Sopha"]},"note":{"en-US":"Excepteur
        sint occaecat cupidatat non proident"},"changeNote":null,"definition":null,"editorialNote":{"en-US":""},"example":{"en-US":"Lorem
        ipsum dolor sit amet"},"historyNote":{"en-US":""},"scopeNote":{"en-US":"consectetur
        adipiscing elit"}}],"pages":{}}'
  recorded_at: Mon, 30 Jun 2025 20:23:48 GMT
recorded_with: VCR 6.3.1
