---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/environments/master/taxonomy/concept-schemes?limit=1&order=sys.createdAt
    body:
      encoding: ASCII-8BIT
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.17.2; platform ruby/3.3.6; os macOS/24;
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Contentful-Route:
      - "/spaces/:spaceId/environments/:environmentId/taxonomy/concept-schemes"
      Etag:
      - '"2791103450915404516"'
      X-Contentful-Region:
      - us-east-1
      Contentful-Api:
      - cda
      X-Contentful-Request-Id:
      - 39117b89-59b6-4058-800d-62ce816f5aec
    body:
      encoding: UTF-8
      string: '{"sys":{"type":"Array"},"limit":1,"items":[{"sys":{"id":"4EQT881T6sG9XpzNwb9y9R","type":"TaxonomyConceptScheme","createdAt":"2025-03-21T05:53:46.063Z","updatedAt":"2025-03-21T05:55:26.969Z","version":2},"uri":"https://example.com/testscheme","topConcepts":[{"sys":{"id":"5iRG7dAusVFUOh9SrexDqQ","type":"Link","linkType":"TaxonomyConcept"}}],"concepts":[{"sys":{"id":"5iRG7dAusVFUOh9SrexDqQ","type":"Link","linkType":"TaxonomyConcept"}}],"totalConcepts":1,"prefLabel":{"en-US":"TestScheme"},"definition":{"en-US":""}}],"pages":{}}'
  recorded_at: Mon, 07 Jul 2025 10:36:28 GMT
recorded_with: VCR 6.3.1
