---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/wrong/entries/nyancat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Authorization:
      - Bearer credentials
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "AccessTokenInvalid"
          },
          "message": "The access token you sent could not be found or is invalid.",
          "requestId": "85f-351082324"
        }
  recorded_at: Sun, 02 Mar 2014 12:03:31 GMT
recorded_with: VCR 2.8.0
