---
http_interactions:
- request:
    method: get
    uri: http://cms.cafewell.com:1337/spaces/wrong/entries/nyancat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - text/plain; charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "AccessTokenInvalid"
          },
          "message": "An access token is required. Please send one through the HTTP Authorization header or as the query parameter \"access_token\".",
          "requestId": "85f-1352072129"
        }
  recorded_at: Tue, 13 Jan 2015 21:55:08 GMT
recorded_with: VCR 2.9.3
