---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/wrong/entries?sys.id=nyancat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer credentials
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 503
      message: ServiceUnavailable
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Request-Id:
      - 2c869757aa2dca0bddce49574f85e62b
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "AccessTokenInvalid"
          },
          "message": "The access token you sent could not be found or is invalid.",
          "requestId": "2c869757aa2dca0bddce49574f85e62b"
        }
  recorded_at: Tue, 20 Dec 2016 16:27:17 GMT
recorded_with: VCR 3.0.3
