---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/bht13amj0fva/assets?locale=es&sys.id=14bZJKTr6AoaGyeg4kYiWq
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer bb703a05e107148bed6ee246a9f6b3678c63fed7335632eb68fe1b689c801534
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"fd221ef596081681476844e76626d81e"'
      X-Contentful-Request-Id:
      - 94c2a00df9e2c852f0d971f0bf6447cd
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "bht13amj0fva"
                  }
                },
                "id": "14bZJKTr6AoaGyeg4kYiWq",
                "type": "Asset",
                "createdAt": "2016-10-05T14:31:36.082Z",
                "updatedAt": "2016-10-05T14:31:36.082Z",
                "revision": 1,
                "locale": "es"
              },
              "fields": {
                "title": "ES Title",
                "description": "ES Description",
                "file": {
                  "url": "//assets.contentful.com/bht13amj0fva/14bZJKTr6AoaGyeg4kYiWq/5501c98c296af77b9acba1146ea3e211/Flag_of_Spain.svg",
                  "details": {
                    "size": 60255
                  },
                  "fileName": "Flag_of_Spain.svg",
                  "contentType": "image/svg+xml"
                }
              }
            }
          ]
        }
  recorded_at: Wed, 19 Apr 2017 13:30:46 GMT
recorded_with: VCR 3.0.3
