---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/entries?include=2&sys.id=nyancat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Request-Id:
      - c40-593918282
    body:
      encoding: UTF-8
      string: |
        {
           "sys":{
              "type":"Array"
           },
           "total":1,
           "skip":0,
           "limit":100,
           "items":[
              {
                 "fields":{
                    "name":"Nyan Cat",
                    "likes":[
                       "rainbows",
                       "fish"
                    ],
                    "color":"rainbow",
                    "bestFriend":{
                       "sys":{
                          "type":"Link",
                          "linkType":"Entry",
                          "id":"happycat"
                       }
                    },
                    "catPack": [
                      {
                         "sys":{
                            "type":"Link",
                            "linkType":"Entry",
                            "id":"happycat"
                         }
                      },
                      {
                         "sys":{
                            "type":"Link",
                            "linkType":"Entry",
                            "id":"worriedcat"
                         }
                      }
                    ],
                    "birthday":"2011-04-04T22:00:00+00:00",
                    "lives":1337,
                    "image":{
                       "sys":{
                          "type":"Link",
                          "linkType":"Asset",
                          "id":"nyancat"
                       }
                    }
                 },
                 "sys":{
                    "space":{
                       "sys":{
                          "type":"Link",
                          "linkType":"Space",
                          "id":"cfexampleapi"
                       }
                    },
                    "type":"Entry",
                    "contentType":{
                       "sys":{
                          "type":"Link",
                          "linkType":"ContentType",
                          "id":"cat"
                       }
                    },
                    "id":"nyancat",
                    "revision":5,
                    "createdAt":"2013-06-27T22:46:19.513Z",
                    "updatedAt":"2013-09-04T09:19:39.027Z",
                    "locale":"en-US"
                 }
              }
           ],
           "includes":{
              "Entry":[
                 {
                    "fields":{
                       "name":"Happy Cat",
                       "bestFriend":{
                          "sys":{
                             "type":"Link",
                             "linkType":"Entry",
                             "id":"worriedcat"
                          }
                       },
                       "catPack": [
                         {
                            "sys":{
                               "type":"L[...]
