---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/entries?include=2&sys.id=nyancat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - W/"9707115047cc402819250f844939b2aa"
      X-Contentful-Request-Id:
      - fdff368667a9181d8c0b1451c9499407
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "id": "nyancat",
                "type": "Entry",
                "createdAt": "2013-06-27T22:46:19.513Z",
                "updatedAt": "2013-09-04T09:19:39.027Z",
                "revision": 5,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "cat"
                  }
                },
                "locale": "en-US"
              },
              "fields": {
                "name": "Nyan Cat",
                "likes": [
                  "rainbows",
                  "fish"
                ],
                "color": "rainbow",
                "bestFriend": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Entry",
                    "id": "happycat"
                  }
                },
                "birthday": "2011-04-04T22:00:00+00:00",
                "lives": 1337,
                "image": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Asset",
                    "id": "nyancat"
                  }
                },
                "catPack": [
                  {
                    "sys": {
                      "type": "Link",
                      "linkType": "Entry",
                      "id": "happycat"
                    }
                  },
                  {
                    "sys": {
                      "type": "Link",
                      "linkType": "Entry",
                      "id": "worriedcat"
                    }
                  }
                ]
              }
            }
          ],
          "includes": {
            "Entry": [
              {
                "sys": {
                  "space": {
                    "sys": {
                      "type": "Link",
                      "linkType": "Space",
                      "id": "cfexampleapi"
                    }
                  },
                  "id": "happycat",
                  "type": "Entry",
                  "createdAt": "2013-06-27T22:46:20.171Z",
                  "updatedAt": "2013-11-18T15:58:02.018Z",
                  "revision": 8,
         [...]
