---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/entries/nyancat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"a9e11c59bf73598894bf05d4db7700cb"'
      X-Contentful-Request-Id:
      - 405-1394043095
    body:
      encoding: UTF-8
      string: |
        {
          "fields": {
            "name": "Nyan Cat",
            "likes": [
              "rainbows",
              "fish"
            ],
            "color": "rainbow",
            "bestFriend": {
              "sys": {
                "type": "Link",
                "linkType": "Entry",
                "id": "happycat"
              }
            },
            "birthday": "2011-04-04T22:00:00+00:00",
            "lives": 1337,
            "image": {
              "sys": {
                "type": "Link",
                "linkType": "Asset",
                "id": "nyancat"
              }
            }
          },
          "sys": {
            "space": {
              "sys": {
                "type": "Link",
                "linkType": "Space",
                "id": "cfexampleapi"
              }
            },
            "type": "Entry",
            "contentType": {
              "sys": {
                "type": "Link",
                "linkType": "ContentType",
                "id": "cat"
              }
            },
            "id": "nyancat",
            "revision": 5,
            "createdAt": "2013-06-27T22:46:19.513Z",
            "updatedAt": "2013-09-04T09:19:39.027Z",
            "locale": "en-US"
          }
        }
  recorded_at: Wed, 09 Dec 2015 21:48:08 GMT
[...]
