---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/entries?content_type=cat&links_to_entry=nyancat&select=fields.name,sys
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.2.2; platform ruby/2.4.2; os macOS/16;
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"73fc3e975a87e59301a93f54d56a2139"'
      X-Contentful-Request-Id:
      - 5e905364e78762fdc6c2f8f048c22c19
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "name": "Happy Cat"
              },
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "id": "happycat",
                "type": "Entry",
                "createdAt": "2013-06-27T22:46:20.171Z",
                "updatedAt": "2013-11-18T15:58:02.018Z",
                "revision": 8,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "cat"
                  }
                },
                "locale": "en-US"
              }
            }
          ]
        }
  recorded_at: Thu, 11 Jan 2018 17:14:41 GMT
recorded_with: VCR 4.0.0
