---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/entries?select=sys,fields.name&sys.id=nyancat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      X-Contentful-Request-Id:
      - 9c4cc23976ca91562c72e53c04fe70c3
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "BadRequest"
          },
          "message": "A Content Type ID is required. When querying for Entries and involving fields you need to limit your query to a specific Content Type. Please send a Content Type ID (not the name) as the URI query parameter \"content_type\"",
          "requestId": "9c4cc23976ca91562c72e53c04fe70c3"
        }
  recorded_at: Tue, 11 Oct 2016 21:48:15 GMT
recorded_with: VCR 3.0.3
