---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/cfexampleapi/entries?content_type=cat&select=sys,fields.name&sys.id=nyancat
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer b4c0n73n7fu1
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Etag:
      - '"5bceeb558eb6136686e5aae912e25903"'
      X-Contentful-Request-Id:
      - 309c7fd04e9f5a7a4518df8412b92c62
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 100,
          "items": [
            {
              "fields": {
                "name": "Nyan Cat"
              },
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "cfexampleapi"
                  }
                },
                "id": "nyancat",
                "type": "Entry",
                "createdAt": "2013-06-27T22:46:19.513Z",
                "updatedAt": "2013-09-04T09:19:39.027Z",
                "revision": 5,
                "contentType": {
                  "sys": {
                    "type": "Link",
                    "linkType": "ContentType",
                    "id": "cat"
                  }
                },
                "locale": "en-US"
              }
            }
          ]
        }
  recorded_at: Tue, 11 Oct 2016 21:48:14 GMT
recorded_with: VCR 3.0.3
