---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/z4ssexir3p93/environments/master/content_types?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.10.1; platform ruby/2.5.1; os macOS/16;
      Authorization:
      - Bearer e157fdaf7b325b71d07a94b7502807d4cfbbb1a34e69b7856838e25b92777bc6
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - '"736965822f777aebb01c9ee4ac6d1b2a"'
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - 43dd26ec0162d8b206895bf92ec3cb7c
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 1,
          "skip": 0,
          "limit": 1000,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "z4ssexir3p93"
                  }
                },
                "id": "test",
                "type": "ContentType",
                "createdAt": "2018-11-08T10:14:31.609Z",
                "updatedAt": "2018-11-08T10:14:31.609Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1
              },
              "displayField": "title",
              "name": "Test",
              "description": "",
              "fields": [
                {
                  "id": "title",
                  "name": "Title",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "disabled": false,
                  "omitted": false
                }
              ]
            }
          ]
        }
  recorded_at: Thu, 08 Nov 2018 13:19:20 GMT
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/z4ssexir3p93/environments/master/entries?sys.id=2t1x77MgUA4SM2gMiaUcsy
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.10.1; platform ruby/2.5.1; os macOS/16;
      Authorization:
      - Bearer e157fdaf7b325b71d07a94b7502807d4cfbbb1a34e69b7856838e25b92777bc6
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status[...]
