---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/jd7yc4wnatx3/environments/master/content_types?limit=1000
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.10.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer 6256b8ef7d66805ca41f2728271daf27e8fa6055873b802a813941a0fe696248
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - W/"c214174cf04bf1116db90ecd71642f13"
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - '085e7d1350b08f255c8838fbc2eb45a2'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 4,
          "skip": 0,
          "limit": 1000,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "jd7yc4wnatx3"
                  }
                },
                "id": "stTest",
                "type": "ContentType",
                "createdAt": "2018-08-22T10:43:50.802Z",
                "updatedAt": "2018-10-17T09:39:10.176Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 4
              },
              "displayField": "name",
              "name": "StTest",
              "description": "",
              "fields": [
                {
                  "id": "name",
                  "name": "Name",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "body",
                  "name": "Body",
                  "type": "RichText",
                  "localized": false,
                  "required": false,
                  "disabled": false,
                  "omitted": false
                }
              ]
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/jd7yc4wnatx3/environments/master/entries?sys.id=4fvSwl5Ob6UEWKg6MQicuC
    body:
      encoding: UTF-8
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.10.1; platform ruby/2.4.1; os macOS/16;
      Authorization:
      - Bearer 6256b8ef7d66805ca41f2728271daf27e8fa6055873b802a813941a0fe696248
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
 [...]
