---
http_interactions:
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/fds721b88p6b/environments/master/content_types?limit=1000
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.11.0; platform ruby/2.5.1; os macOS/16;
      Authorization:
      - Bearer 45ba81cc69423fcd2e3f0a4779de29481bb5c11495bc7e14649a996cf984e98e
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
      Contentful-Api:
      - cda_cached
      Etag:
      - W/"0b36f7d0dc57d8512fa4ef1b1e09677f"
      X-Contentful-Region:
      - us-east-1
      X-Contentful-Request-Id:
      - f0c71ea0ad5ce51dc4856255c32a1cc9
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "sys": {
            "type": "Array"
          },
          "total": 2,
          "skip": 0,
          "limit": 1000,
          "items": [
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType": "Space",
                    "id": "fds721b88p6b"
                  }
                },
                "id": "child",
                "type": "ContentType",
                "createdAt": "2018-11-22T13:48:47.928Z",
                "updatedAt": "2018-11-22T13:48:47.928Z",
                "environment": {
                  "sys": {
                    "id": "master",
                    "type": "Link",
                    "linkType": "Environment"
                  }
                },
                "revision": 1
              },
              "displayField": "title",
              "name": "Child",
              "description": "",
              "fields": [
                {
                  "id": "title",
                  "name": "Title",
                  "type": "Symbol",
                  "localized": false,
                  "required": false,
                  "disabled": false,
                  "omitted": false
                },
                {
                  "id": "body",
                  "name": "Body",
                  "type": "RichText",
                  "localized": false,
                  "required": false,
                  "disabled": false,
                  "omitted": false
                }
              ]
            },
            {
              "sys": {
                "space": {
                  "sys": {
                    "type": "Link",
                    "linkType[...]
- request:
    method: get
    uri: https://cdn.contentful.com/spaces/fds721b88p6b/environments/master/entries?sys.id=1tBAu0wP9qAQEg6qCqMics
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Contentful-User-Agent:
      - sdk contentful.rb/2.11.0; platform ruby/2.5.1; os macOS/16;
      Authorization:
      - Bearer 45ba81cc69423fcd2e3f0a4779de29481bb5c11495bc7e14649a996cf984e98e
      Content-Type:
      - application/vnd.contentful.delivery.v1+json
  response:
    status[...]
